# Data Science Tools and Ecosystem

## Introduction
> ### In this notebook, we summarize Data science Tools and Ecosystem

#### Objectives
The objectives that this notebook covers include:
- familiarize learners with the notebook environment
- Familiarize learners with some programming languages used in Data Science
- Get learners to remember tools for data science and some libraries used in data science
- To familiarize learners with markdown commands such as
  - Ordered list
  - Unordered list
- And to teach students how to create a table in markdown cell
- To briefly introduce arithmetic operators and demonstrate briefly their uses

#### Some Programmming languages Data Scientist used are:
1. Python
2. R
3. Microsoft Excel
4. Tableau

#### Some of the libraries used by Data Scientist especially in python programming language are:
1. Pandas
2. Numpy array
3. Matplotlib
4. Seaborn

#### Table of Tools for Data Science
|  Tool       |
|-------------|
| hadoop      |
| Apache      |
| Spark       |

### Introducing Arithmetic expression examples
**Below are a few examples of evaluating arithmetic expressions in Python**

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: Kough Teryila Gabriel